<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMC</title>
</head>
<body>
    <h1>Welcome to the News Page!</h1>
    <a href="{{ url_for('home') }}">Home</a>
    <ul>
        {% for item in news %}
            <li>
                <h2>
                {{ item.title }}
                </h2>
                <p>
                {{ item.author }} {{ item.date }}
                </p>
                <p>
                {{ item.content }}
                </p>
                <a href="{{ url_for('get_news_update_form', news_id=item.news_id )}}">Update</a>
                <a href="{{ url_for('delete_news', news_id=item.news_id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>