<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News: {{ news.title }}</title>
</head>
<body>
    <h2>
        {{ news.title }}
        </h2>
        <p>
        {{ news.author }} {{ news.date }}
        </p>
        <p>
        {{ news.content }}
        </p>
        <a href="{{ url_for('get_news_update_form', news_id=news.news_id )}}">Update</a>
        <a href="{{ url_for('delete_news', news_id=news.news_id) }}">Delete</a>
</body>
</html>